@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #0d1216;
  --text-color: #fff;
  --btn-bg-color: #e9531f;
  --impact-bg-color: #f0eaf8;
  --heading-color: #e9531f;
  --card-bg-color: #e6ddee;
  --card-title-color: #0d1216;
  --card-text-color: #6c6777;
}

body {
  /* background: linear-gradient(45deg, #0b0f14, #1a0f05, #ff8c1a); */
  /* background: linear-gradient(45deg, #000000, #1c0c02, #ff7a00); */
  /* background: linear-gradient(80deg, #120a05, #2a1408, #ff9b3d); */
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.95),
    rgba(20, 10, 5, 0.9),
    rgba(255, 140, 26, 0.8)
  );
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  padding: 18px 100px;
  background: transparent;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: 11;
}

.logo img {
  width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--heading-color);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.navbar a.contact-btn {
  padding: 10px 45px;
  letter-spacing: 1px;
  background: var(--btn-bg-color);
  border-radius: 25px;
  color: var(--text-color);
  text-decoration: none;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.contact-btn:hover {
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.mobile-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Video */
.hero-video {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* padding: 0px 100px; */
  align-items: center;
  justify-content: center;
}

.hero-content {
  width: 90%;
  /* height: 60%; */
  color: var(--text-color);
  padding: 20px;
}

.hero-content p {
  font-size: 17px;
  margin-bottom: 15px;
}

.hero-content p.greeting {
  width: 320px;
}

.hero-content h1 {
  font-size: 50px;
}

.hero-content hr {
  width: 550px;
  margin-block: 5px;
}

.hero-content p.description {
  margin: 20px 0px 40px;
  font-size: 17px;
  width: 800px;
}

.hero-content p.description span {
  font-size: 19px;
  font-weight: bold;
  color: var(--heading-color);
}

.hero-content a {
  padding: 10px 40px;
  background: transparent;
  border-radius: 25px;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  margin: 20px 0px;
  letter-spacing: 1px;
  border: 3px solid var(--btn-bg-color);
  transition: 0.5s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    transition: 0.5s ease-in-out;
  }
}

/* About Section */
/* .about-section .about-video {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.about-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
} */

.about-section {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 80px 100px;
  align-items: center;
  color: var(--text-color);
}

.about-us {
  width: 100%;
  /* height: 50%; */
  padding: 10px 0px;
}

.about-us .about-section-overlay {
  width: 800px;
  padding: 10px 30px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 10px;
  margin-block: 20px;
}

.about-us p.little {
  font-style: italic;
  font-size: 22px;
  margin-bottom: 16px;
}

.about-us h2 {
  font-size: 40px;
}

.about-us hr {
  width: 750px;
  margin-bottom: 10px;
}

.about-us p.description {
  font-size: 16px;
  width: 750px;
  line-height: 20px;
}

.about-us p.description span {
  font-size: 20px;
  font-weight: bold;
  color: var(--heading-color);
}

.about-section .first-question {
  width: 100%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first-question .right {
  width: 630px;
  padding: 10px 30px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  border-radius: 10px;
}

.right h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.right hr {
  width: 100%;
  margin-bottom: 15px;
}

.right h3 span {
  text-transform: capitalize;
}

.right p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 23px;
  letter-spacing: 0.2px;
}

.right p span {
  font-size: 20px;
  font-weight: bold;
  color: var(--heading-color);
}

.portfolio-section {
  width: 100%;
  height: 210vh;
  padding: 20px 100px;
}

.portfolio-section .top {
  width: 100%;
  height: 25%;
  color: var(--text-color);
}

.top p {
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
}

.top p.portfolio {
  font-weight: 900;
  color: var(--heading-color);
}

.top p.description {
  font-size: 22px;
  text-transform: none;
  padding: 0px 127px;
  line-height: 35px;
  margin-bottom: 20px;
}

.top p.description span {
  color: var(--heading-color);
  font-weight: 500;
}

.portfolio-section .bottom {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.bottom .news-cards {
  width: 100%;
  height: 50%;
  /* padding: 10px; */
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.news-cards .card {
  width: 50%;
  height: 100%;
  perspective: 1000px;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.5s ease;
}

.inner:hover {
  transform: rotateY(-180deg);
}

.front p.title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--card-title-color);
}

.front p {
  font-size: 24px;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  color: white;
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* FRONT SIDE */
.news-cards .first-card {
  background-image: url("./Images/posters/card-poster-1.jpg");
  background-position: center;
  background-size: cover;
}

.news-cards .second-card {
  background-image: url("./Images/posters/card-poster-2.jpg");
}

/* BACK SIDE */
.back {
  background-color: var(--impact-bg-color);
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--bg-color);
}

.back .content h3 {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.back .content h3 span {
  color: var(--heading-color);
}

.back .content p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 25px;
  word-spacing: 2px;
  text-align: justify;
}

.back .content p span {
  font-size: 23px;
  font-weight: bold;
  color: var(--heading-color);
}

.back .btn {
  display: flex;
  justify-content: center;
}

.btn button {
  width: 200px;
  padding: 15px 20px;
  font-size: 18px;
  background: white;
  border: 2px solid var(--btn-bg-color);
  cursor: pointer;
  font-weight: bold;
  color: var(--heading-color);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
  }
}

.bottom .social-cards {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 20px;
}

.social-cards .card {
  width: 50%;
  height: 100%;
  perspective: 1000px;
}

.social-cards .first-card {
  background-image: url("./Images/posters/card-poster-3.jpg");
  background-position: center;
  background-size: cover;
}

.social-cards .second-card {
  background-image: url("./Images/posters/card-poster-4.jpg");
  background-position: center;
  background-size: cover;
}

.social-cards .third-card {
  background-image: url("./Images/posters/card-poster-5.jpg");
  background-position: center;
  background-size: cover;
}

/* Services Section */

.services-hero-section {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  /* background: url("../Images/services-area.png");
  background-position: center;
  background-size: cover; */
  flex-direction: column;
}

.services-hero-section .services-content {
  width: 100%;
  height: 40%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-content p.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.services-content h3 {
  font-size: 36px;
  /* width: 406px; */
  color: var(--heading-color);
}

.services-content p.description {
  font-size: 17px;
  margin: 10px 0px 16px;
}

/* ================= Services Bottom SECTION ================= */
.services-bottom {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
}

/* Carousel viewport */
.infinite-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Moving track */
.track {
  display: flex;
  width: max-content;
  animation: expertise-scroll 28s linear infinite;
}

/* ================= CARD ================= */
.track .cards {
  width: 280px;
  /* min-height: 320px; */
  margin: 0 16px;
  border-radius: 18px;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
  color: var(--text-color);
}

.tarck .cards img {
  width: 100%;
  /* height: 200px; */
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 14px;
  transition: transform 0.4s ease;
}

.cards h3 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  margin-block: 10px;
}

.track .cards:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

.tarck .cards:hover img {
  transform: scale(1.08);
}

/* ================= ANIMATION ================= */
@keyframes expertise-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.partners-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.partners-top-section {
  width: 100%;
  height: 35%;
  padding: 50px 100px;
  color: var(--text-color);
}

.partners-top-section hr {
  width: 675px;
  margin-block: 10px;
}

.partners-top-section .partners-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.partners-left-section span {
  font-size: 16px;
  font-style: italic;
}

.partners-left-section h2 {
  font-size: 40px;
  color: var(--heading-color);
}

.partners-right-section p {
  font-size: 16px;
  width: 528px;
  line-height: 25px;
}

.partners-bottom-section {
  width: 100%;
  height: 65%;
  padding: 20px;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.row {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
}

.track {
  display: inline-flex;
  gap: 40px;
}

.item {
  background: #fff;
  width: 180px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.track .item img {
  width: 100%;
  object-fit: cover;
}

/* LEFT TO RIGHT */
.left-to-right .track {
  animation: scroll-ltr 20s linear infinite;
}

.contact-video {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.contact-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: -1;
}

.contact-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  color: var(--text-color);
}

.contact-section-content h1 {
  font-size: 58px;
  width: 550px;
}

.contact-section-content p {
  font-size: 20px;
  width: 510px;
  margin: 16px 0px 50px;
}

.contact-section-content a {
  text-decoration: none;
  padding: 10px 40px;
  border: 2px solid var(--heading-color);
  font-size: 16px;
  color: var(--text-color);
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-bg-color);
    transition: all 0.5s ease-in-out;
    color: var(--text-color);
  }
}

.footer {
  width: 100%;
  height: 55vh;
}

.footer-top {
  width: 100%;
  height: 80%;
  display: flex;
}

.image-div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-div img {
  width: 70%;
}

.useful-div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 90px 80px;
  color: var(--text-color);
}

.useful-div h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.useful-div a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
}

.legal-div {
  width: 20%;
  height: 100%;
  color: var(--text-color);
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
}

.legal-div h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.legal-div a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
}

.follow-div {
  width: 20%;
  height: 100%;
  color: var(--text-color);
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
}

.follow-div h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a i {
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--heading-color);
    transition: all 0.3s ease-in-out;
  }
}

.contact-div {
  width: 20%;
  height: 100%;
  padding: 90px 60px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.contact-div h3 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.contact-div a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
}

.contact-div p {
  font-size: 16px;
  font-weight: 700;
  color: var(--heading-color);
  margin-bottom: 3px;
  letter-spacing: 1px;
}

.footer-bottom {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-bottom p {
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 1px;
}

.footer-bottom a {
  position: absolute;
  top: 25px;
  right: 45px;
  padding: 9px;
  border-radius: 50%;
  background-color: var(--btn-bg-color);
  color: var(--text-color);
}

.footer-bottom a i {
  transition: all 0.5s ease-in-out;
}

.footer-bottom a:hover i {
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

@keyframes scroll-ltr {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* RIGHT TO LEFT */
.right-to-left .track {
  animation: scroll-rtl 20s linear infinite;
}

@keyframes scroll-rtl {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Infinite Scroll Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .card {
    min-width: 200px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .news-cards {
    flex-direction: column;
    align-items: center;
  }
}
