.portfolio-section {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("../Images/portfolio-hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}

.portfolio-section p.title {
  font-size: 20px;
  font-weight: 300;
}

.portfolio-section h3 {
  font-size: 45px;
  margin-block: 16px;
}

.portfolio-section h3 span {
  color: var(--heading-color);
}

.portfolio-section p.descriptions {
  font-size: 18px;
  width: 645px;
  line-height: 28px;
  font-weight: 400;
  word-spacing: 1px;
  margin-bottom: 20px;
}

.products-menu {
  width: 520px;
  display: flex;
  justify-content: space-between;
}

.products-menu button {
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid var(--heading-color);
  background-color: transparent;
  border-radius: 25px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
  }
}

.cards-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.cards-section .card {
  width: 455px;
  height: 455px;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
}

.cards-section .card img {
  width: 100%;
}
