.services-video {
  position: absolute;
  inset: 0;
  z-index: -2;
}

.services-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-hero-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.services-hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  align-items: center;
}

.services-hero-section .services-content {
  width: 80%;
  height: 60%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.services-content p.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.services-content h3 {
  font-size: 36px;
  width: 406px;
}

.services-content p.description {
  font-size: 17px;
  margin: 10px 0px 16px;
}

.services-telecom-section {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.services-telecom-top-section {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-telecom-top-section h3 {
  color: var(--heading-color);
  font-size: 36px;
}

.services-telecom-bottom-section {
  width: 80%;
  height: 80%;
  display: flex;
  gap: 30px;
  margin: 0px auto;
  padding: 25px;
}

.services-telecom-bottom-section .left-side,
.right-side {
  width: 50%;
  height: 100%;
}

.services-telecom-bottom-section .left-side {
  display: flex;
  gap: 30px;
  color: var(--text-color);
}

.left-side .content-section {
  width: 50%;
  height: 100%;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.content-section:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.left-side .content-section img {
  width: 35%;
  transition: transform 0.4s ease-in-out;
}

.content-section:hover img {
  transform: scale(1.15);
}

.left-side .content-section h4 {
  font-size: 30px;
  margin-block: 40px;
  width: 55px;
  font-weight: 600;
}

.left-side .content-section p.description {
  font-size: 18px;
}

.left-side .img-section {
  width: 50%;
  height: 100%;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-section:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.left-side .img-section .top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.img-section:hover img {
  transform: scale(1.1);
}

.img-section .top img {
  width: 30%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.left-side .img-section .center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-section .center img {
  width: 80%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.left-side .img-section .bottom {
  width: 100%;
}

.img-section .bottom img {
  width: 35%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.right-side {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.right-side .top-side,
.bottom-side {
  width: 100%;
  height: 50%;
  padding: 16px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  color: var(--text-color);
}

.right-side .top-side {
  display: flex;
  gap: 20px;
}

.top-side .left-section {
  width: 60%;
  height: 100%;
}

.top-side .right-section {
  width: 40%;
  height: 100%;
}

.top-side .left-section h4 {
  font-size: 25px;
  padding: 8px 0px;
  margin-bottom: 8px;
  font-weight: 600;
}

.top-side .left-section p {
  font-size: 18px;
  padding: 8px 0px;
  margin-bottom: 16px;
}

.top-side .right-section img {
  width: 100%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.top-side:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
}

.top-side:hover img {
  transform: scale(1.1);
}

.bottom-side {
  display: flex;
  gap: 20px;
}

.bottom-side .left-section {
  width: 60%;
  height: 100%;
}

.bottom-side .left-section h4 {
  font-size: 25px;
  padding: 8px 0px;
  margin-bottom: 8px;
  font-weight: 600;
}

.bottom-side .left-section p {
  font-size: 18px;
  padding: 8px 0px;
  margin-bottom: 16px;
}

.bottom-side .right-section {
  width: 40%;
  height: 100%;
}

.bottom-side .right-section img {
  width: 100%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.bottom-side:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transform: scale(1.02);
  transition: all 0.4s ease-in-out;
}

.bottom-side:hover img {
  transform: scale(1.1);
}

.telecom-second-section {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telecom-second-section-inner-div {
  width: 80%;
  height: 100%;
  padding: 25px;
  display: flex;
  gap: 30px;
}

.telecom-second-section-inner-div .left-side {
  width: 70%;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  display: flex;
  gap: 30px;
  padding: 16px;
}

.telecom-second-section-inner-div .left-side:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.left-side .telecom-img-section {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telecom-img-section img {
  width: 90%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.telecom-img-section:hover img {
  transform: scale(1.1);
}

.left-side .telecom-contents-section {
  width: 70%;
  height: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.telecom-contents-section h4 {
  font-size: 30px;
  font-weight: 500;
  width: 315px;
}

.telecom-contents-section p {
  font-size: 18px;
  width: 473px;
  margin-top: 10px;
}

.telecom-second-section-inner-div .right-side {
  width: 30%;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color);
}

.telecom-second-section-inner-div .right-side:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.telecom-right-top-side {
  width: 100%;
  height: 60%;
  display: flex;
  gap: 20px;
}

.telecom-right-top-side img {
  width: 30%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.telecom-right-top-side:hover img {
  transform: scale(1.1);
}

.telecom-right-top-side h4 {
  font-size: 22px;
  font-weight: 500;
}

.telecom-right-bottom-side {
  width: 100%;
  height: 40%;
}

.telecom-right-bottom-side p {
  font-size: 16px;
}

/* Digital Evolution Section */

.digital-elvolution-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.digital-evolution-top-section {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-color);
}

.digital-evolution-top-section h3 {
  font-size: 40px;
  font-weight: 600;
}

.digital-evolution-bottom-section {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0px;
}

.mobile-and-software-container {
  width: 80%;
  height: 50%;
  display: flex;
  gap: 30px;
}

.mobile-and-software-container .left-side-div,
.right-side-div {
  width: 50%;
  height: 100%;
}

.mobile-and-software-container .left-side-div {
  display: flex;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--text-color);
  transition: all 0.4s ease-in-out;
}

.left-side-div:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.left-side-div .contents-side-div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side-div .contents-side-div h4 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 500;
}

.left-side-div .contents-side-div p {
  font-size: 18px;
  width: 270px;
}

.left-side-div .image-side-div {
  width: 40%;
  height: 100%;
}

.left-side-div .image-side-div img {
  width: 90%;
  transition: transform 0.4s ease-in-out;
  object-fit: cover;
}

.left-side-div:hover img {
  transform: scale(1.15);
}

.mobile-and-software-container .right-side-div {
  display: flex;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--text-color);
}

.right-side-div:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.right-side-div .image-side-div {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.right-side-div .image-side-div img {
  width: 90%;
  transition: transform 0.4s ease;
  object-fit: cover;
}

.right-side-div:hover img {
  transform: scale(1.15);
}

.right-side-div .contents-side-div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-side-div .contents-side-div h4 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 500;
  width: 270px;
}

.right-side-div .contents-side-div p {
  font-size: 18px;
  width: 270px;
}

.ott-plateform-container {
  width: 80%;
  height: 50%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  gap: 60px;
}

.ott-plateform-container:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.ott-plateform-container:hover img {
  transform: scale(1.1);
}

.ott-plateform-container .image-side-div,
.content-side-div {
  width: 50%;
  height: 100%;
}

.ott-plateform-container .image-side-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ott-plateform-container .image-side-div img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.ott-plateform-container .content-side-div {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ott-plateform-container .content-side-div h4 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.ott-plateform-container .content-side-div p {
  font-size: 18px;
  width: 306px;
}

/* Unleash Digital Evolution Section */

.unleash-digital-evolution-section {
  width: 100%;
  height: 120vh;
}

.unleash-top-section {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-color);
}

.unleash-top-section h3 {
  font-size: 36px;
  font-weight: 550;
  color: var(--card-title-color);
}

.unleash-bottom-section {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.unleash-bottom-section .unleash-bottom-upper-section {
  width: 80%;
  height: 60%;
  display: flex;
  gap: 20px;
}

.unleash-bottom-upper-section .upper-left-section,
.upper-right-section {
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: var(--card-bg-color);
}

.upper-left-section {
  display: flex;
  gap: 10px;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

.upper-left-section img {
  width: 60%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.upper-left-section:hover img {
  transform: scale(1.1);
}

.upper-left-section:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.upper-left-section .upper-left-side-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-left-side-contents h4 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--card-title-color);
}

.upper-left-side-contents p {
  font-size: 18px;
  color: var(--card-text-color);
}

.upper-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0px 10px;
  transition: all 0.4s ease-in-out;
}

.upper-right-section:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.upper-right-section h4 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 500;
  color: var(--card-title-color);
}

.upper-right-section p {
  font-size: 18px;
  color: var(--card-text-color);
}

.upper-right-section img {
  width: 50%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.upper-right-section:hover img {
  transform: scale(1.1);
}

.unleash-bottom-section .unleash-bottom-lower-section {
  width: 80%;
  height: 40%;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  background: var(--card-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  transition: all 0.4s ease-in-out;
}

.unleash-bottom-lower-section:hover {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
}

.unleash-bottom-lower-section .contents-side-div {
  display: flex;
  flex-direction: column;
}

.contents-side-div h4 {
  color: var(--card-title-color);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

.contents-side-div p {
  font-size: 17px;
  width: 500px;
  color: var(--card-text-color);
}

.unleash-bottom-lower-section img {
  width: 30%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}

.unleash-bottom-lower-section:hover img {
  transform: scale(1.1);
}

/* Collaborate Section */

.collaborate-section {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.collaborate-section .collaborate-main-section {
  width: 80%;
  height: 55%;
  background: url("../Images/collaborate-bg.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collaborate-main-section h2 {
  font-size: 60px;
  color: var(--heading-color);
  font-weight: 600;
}

.collaborate-main-section button {
  padding: 5px 20px;
  border: 2px solid var(--heading-color);
  background: transparent;
  color: var(--heading-color);
  font-size: 14px;
  margin-top: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: var(--btn-bg-color);
    transition: all 0.5s ease-in-out;
    color: var(--text-color);
  }
}
